.pomo-form {
  display: flex;
  flex-direction: column;

  .interval-timer {
    margin-bottom: 12px;
  }

  .pomo-count-note {
    margin: 12px 0;
    font-style: italic;
  }

  .submit-button {
  }
}
