.pomo-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 4px;
  width: 280px;

  @media screen and (min-width: 768px) {
    width: auto;
  }

  .title {
    color: black;
    font-family: 'Hammersmith One', serif;
    margin-top: 0;
  }

  .interval-timer {
    margin-bottom: 12px;
    width: 280px;
    
    @media screen and (min-width: 768px) {
      width: 320px;
    }
  }

  .long-switch-label {
    color: black;
  }

  .long-switch {
    margin-bottom: 16px;
  }

  .pomo-count-note {
    color: black;
    margin: 12px 0;
    font-style: italic;
    font-family: 'Nunito Sans', sans-serif;
  }
}
